@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap');
:root{
    --font: 'Chivo', sans-serif;
    --mint: #54E6AF;
    --dark-steel: #2C344B;
    --dark: #121725;
    --white: #ffffff;
    --med-steel: #5A668A;
    --light-steel: #C2CBE5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
html, body{
    height: 100%;
}
body{
    width: 100%;
    max-width: 1275px;
    font-family: var(--font);
    font-weight: 400;
    background: var(--dark);
}
h1{
    text-transform: uppercase;
    color: var(--mint);
    font-size: 4rem;
}
p{
    color: var(--light-steel);
    width: 61%;
    font-size: 1.3rem;
    margin: 4% 4% 4% 0%;
}
form{
    position: relative;
    width: 70%;
}
input[type=email]{
    background: var(--dark-steel);
    border-radius: 28px;
    padding-right: 40%;
    padding-left: 7.5%;
    height: 4rem;
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: none;
    font-family: inherit;
    color: var(--white);
    /* position: absolute; */
}
input[type=email]::placeholder{
    font-family: inherit;
    padding-left: 3.5%;
    font-weight: 400;
    color: var(--white);
    opacity: 0.5;
}
input[type=email]:active, input[type=email]:focus{
    border: none;
    outline: none;
}
input[type=email]:focus::placeholder{
    color: transparent;
}
input[type=submit]{
    font-family: inherit;
    background: var(--mint);
    border-radius: 28px;
    padding: 1.2rem 2rem;
    text-transform: capitalize;
    position: absolute;
    border: none;
    right: 0;
    box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.2);
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #2C344B inset !important;
    -webkit-text-fill-color: var(--white);
}
.btn:hover{
    background: #B3FFE2;

}
.hero{
    margin: 20% 0 10% 7%;
    width: 80%;
    height: 80%;
    position: absolute;
    bottom: 15%;
    right:0%;
}
.hero-text{
    position: absolute;
    bottom: 0%;
    z-index: 2;
    padding-top: 10%;
    padding-right: 5%;
    max-height: 509px;
    width: 56%;
    background: var(--dark);
}
.hero-img{
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 70%;
    max-height: 640px;
    z-index: 1;
}
.white{
    color: var(--white);
}
.social-icons{
    display: flex;
    flex-direction: row;
    margin-top: 13%;
    width: 75%;
    justify-content: space-evenly;
}
.social-icons li {
    margin-right: 2rem;
}
.social-icons li img{
    width: 100%;
    opacity: 0.5;
    
}
.dots{
    z-index: 3;
    position: absolute;
    width: 18%;
    bottom: 0%;
    right: 0%;
    transform: translateY(40%);
}
.logo{
    position: absolute;
    top: 25%;
    left: 0%;
    width: 11%;
    z-index: 2;
    /* transform: translateY(-300%); */
}

