@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap');
:root{
    --font: 'Chivo', sans-serif;
    --mint: #54E6AF;
    --dark-steel: #2C344B;
    --dark: #121725;
    --white: #ffffff;
    --med-steel: #5A668A;
    --light-steel: #C2CBE5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
html, body{
    height: 100%;
}
body{
    width: 100%;
    max-width: 1275px;
    height: 100vw;
    font-family: var(--font);
    font-weight: 400;
    background: var(--dark);
}
h1{
    text-transform: uppercase;
    color: var(--mint);
    font-size: 4rem;
}
p{
    color: var(--light-steel);
    width: 61%;
    font-size: 1.3rem;
    margin: 4% 4% 4% 0%;
}
form{
    position: relative;
    width: 61%;
}
input[type=email]{
    background: var(--dark-steel);
    border-radius: 28px;
    padding-right: 40%;
    padding-left: 7.5%;
    height: 4rem;
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: none;
    font-family: inherit;
    color: var(--white);
    /* position: absolute; */
}
input[type=email]::placeholder{
    font-family: inherit;
    padding-left: 3.5%;
    font-weight: 400;
    color: var(--white);
    opacity: 0.5;
}
input[type=email]:active, input[type=email]:focus{
    border: none;
    outline: none;
}
input[type=email]:focus::placeholder{
    color: transparent;
}
input[type=submit]{
    font-family: inherit;
    background: var(--mint);
    border-radius: 28px;
    padding: 1.2rem 2rem;
    text-transform: capitalize;
    position: absolute;
    border: none;
    right: 0;
    box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.2);
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #2C344B inset !important;
    -webkit-text-fill-color: var(--white);
}
.btn:hover{
    background: #B3FFE2;

}
.hero{
    /* margin: 20% 0 10% 7%; */
    max-width: 723px;
    position: relative;
    min-width: 80%;
    bottom: 15%;
    right:0%;
    background-image: url('../assets/desktop/image-host.jpg');
    min-height: 60%;
    max-height: 640px;
    margin: 10% 0% 10% 20%;
    background-repeat: no-repeat;
    background-size: 70% auto;
    background-position: right bottom;
}
.hero-text{
    position: absolute;
    bottom: 0%;
    z-index: 2;
    padding-top: 5%;
    padding-right: 5%;
    /* max-height: 509px; */
    max-width: 56%;
    max-height: 80%;
    background: var(--dark);
    /* margin-top: 5%; */
    
}
/* .hero-img{
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 70%;
    max-height: 640px;
    z-index: 1;
} */
.white{
    color: var(--white);
}
.social-icons{
    display: flex;
    flex-direction: row;
    margin-top: 13%;
    width: 75%;
    justify-content: space-evenly;
}
.social-icons li {
    margin-right: 2rem;
}
.social-icons li img{
    width: 100%;
    opacity: 0.5;
    
}
.dots{
    z-index: 3;
    position: absolute;
    width: 18%;
    bottom: 0%;
    right: 0%;
    transform: translateY(40%);
}
.logo{
    position: absolute;
    top: 25%;
    left: 0%;
    width: 11%;
    z-index: 4;
    /* transform: translateY(-300%); */
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    h1{
        font-size: 3.5rem;
    }
    p{
        width: 70%;
    }
    .dots{
        bottom: 0%;
        left: 0%;
        transform: translateY(300%);
        margin-left: 5%;
    }
    .hero{
        background-image: url('../assets/tablet/image-host.jpg');
        background-size: 67% auto;
        margin: 0;
        bottom: 0%;
        width: 100%;
        height: 100%;
        max-height: 767px;
        /* transform: translateY(50%); */
    }
    .green{
        margin-top: 10%;
    }
    .hero-text{
        margin-top: 10%;
        width: 82%;
        max-width: 599px;
        height: 66%;
        max-height: 473px;
        margin-left: 5%;
        padding-right: 0px;
        
    }
    .logo{
        width: 18%;
        margin-left: 5%;
        margin-top: -20%;
    }
    .social-icons{
        position: absolute;
        bottom: 0%;
    }
}

@media screen and (min-width: 350px) and (max-width: 728px){
    p, h1{
        width: 90%;
        text-align: center;
        margin: 0 0;
    }
    h1{
        font-size: 2rem;
        /* margin: 0 20%; */
        
    }
    h1:first-child{
        margin-top: 25%;
    }
    p{
        font-size: 1.1.2rem;
        line-height: 2rem;
        padding: 0 0%;
        position: absolute;
        bottom: 55%;
        /* margin: 0 20%; */
        
    }
    body{
        background-image: url('../assets/mobile/image-host.jpg');
        background-size: cover;
        background-blend-mode:overlay;
        background-color: var(--dark);
        
        
    }
    .hero{
        margin: 5% auto 0 auto;
        width: 100%;
        height: 100%;
        min-height: 667px;
        max-width: 327px;
        position: absolute;
        background-image: none;
        padding: 0;
    }
    
    form{
        width: 90%;
        position: absolute;
        bottom: 17%;
        margin: 0 auto;
        
    }
    input[type=email]{
        margin: 0 auto;
        width: 100%;
       
    }
    input[type=submit]{
        margin-top: 3%;
        
        position: relative;
        width: 100%;

    }
    .hero-text{
        
        width: 100%;
        min-width: 327px;
        height: 100%;
        min-height: 398px;
        display: block;
        margin: 0 auto;
        bottom: 0%;
        background-color: transparent;
        padding: 0;
    }
    .logo{
        margin: 0 25%;
        display: block;
        position: relative;
        top: 10%;
        width: 33%;
    }
    .dots{
        display: none;
    }
    .social-icons{
        width: 100%;
        padding: 5% 0%;
        position: absolute;
        bottom: 42%;
        margin: 0 auto;
    }
}